html {
  font-size: 62.5%;
}

*,
*::backdrop,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 0;
}

:root {
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: var(--Charcoal-Grey);
  font-family: "Roboto", sans-serif;
  color: var(--Dark-Slate-Grey);
}

h1,
h2 {
  font-weight: 700;
}

h1,
h2 {
  font-size: 4rem;
}

h2 {
  margin: 4rem 0 2.4rem;
}

p {
  font-size: 1.6rem;
}

@media screen and (min-width: 900px) {
  h1,
  h2 {
    font-size: 5.6rem;
  }

  p {
    font-size: 1.8rem;
  }
}

/* Card */
.card {
  border: 0;
  background-color: var(--White);
  border-radius: 36px;
}

/* List */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.item::before {
  content: url(images/icon-list.svg);
  margin-right: 1.5rem;
  vertical-align: middle;
}

@media screen and (min-width: 900px) {
  .item {
    font-size: 1.8rem;
  }
}

/* btn */
.btn {
  background: var(--Dark-Slate-Grey);
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  color: var(--White);
  font-size: 1.6rem;
  padding: 1.8rem 0;
  font-family: inherit;
  font-weight: 700;
  width: 100%;
  transition: all 0.2s;
}

.btn:hover {
  background-color: var(--Tomato);
  /* background-color: rgb(255, 218, 218); */
  box-shadow: 0 4px 40px rgba(241, 78, 78, 1);
}

/* Input */
.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-container p {
  color: var(--Tomato);
  margin-bottom: 0;
}

.email-label,
.text-warning {
  font-size: 1.2rem;
  font-weight: 700;
}

.text-warning {
  display: none;
}

input {
  width: 100%;
  padding: 1.5rem 0;
  text-indent: 2.2rem;
  font-size: 1.6rem;
  color: var(--Dark-Slate-Grey);
  border-radius: 8px;
  outline: 0;
  border: 0.5px solid var(--Grey);
  margin: 1rem 0 2.4rem;
}

input::placeholder {
  font-size: 1.6rem;
}

.input-invalid {
  border-color: var(--Tomato);
  color: var(--Tomato);
}

/* Modal */
.modal {
  padding: 5rem 6rem 6.4rem;
  max-width: 50rem;
}

.modal p {
  margin-bottom: 4rem;
}

@media screen and (min-width: 471px) {
  body {
    padding: 0 2.2rem 4rem;
  }
}

@media screen and (max-width: 470px) {
  .modal {
    width: 100%;
    border-radius: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .modal-content {
    align-self: center;
  }

  .btn {
    align-self: flex-end;
  }
}
