<div class="grid grid-1x2 card card-sign_up">
  <picture class="img-container">
    <source
      media="(max-width:889px)"
      srcset="images/illustration-sign-up-mobile.svg"
    />
    <source
      media="(min-width:890px)"
      srcset="images/illustration-sign-up-desktop.svg"
    />
    <img
      class="card__img"
      src="images/illustration-sign-up-mobile.svg"
      alt=""
    />
  </picture>
  <div class="card__body">
    <h1>Stay updated!</h1>
    <p>Join 60,000+ product managers receiving monthly updates on:</p>
    <ul class="list">
      <li class="item">Product discovery and building what matters</li>
      <li class="item">Measuring to ensure updates are a success</li>
      <li class="item">And much more!</li>
    </ul>
    <div class="label-container">
      <label for="email" class="email-label">Email address</label>
      <p class="text-warning">Valid email required</p>
    </div>
    <input type="email" id="email" placeholder="ash@loremcompany.com" />
    <button class="btn">Subscribe to monthly newsletter</button>
  </div>
</div>
